* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    background-color: rgb(60, 58, 58);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.calc-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 11;
}

.calculator {
    height: 486px;
    width: 430px;
    border-radius: 16px;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
}



/* TOP PANEL */
/* TOP PANEL */
/* TOP PANEL */



.top-panel {
    display: flex;
    flex-direction: row;
    margin: 15px 20px 20px 20px;
    position: relative;
    width: 90%;
}

/* BUTTONS */

.icons {
    display: flex;
}

.orange img, .green img, .red img {
    width: 15px;
}

.red img {
    margin-right: 6px;
}

.orange img {
    margin-right: 6px;
}

/* LOGO */

.logo img {
    width: 27px;
    margin-left: 123px;
    transform: translateY(-10%);
}



/* DISPLAY */
/* DISPLAY */
/* DISPLAY */



.display {
    display: flex;
    background-color: black;
    border-radius: 15px;
    width: 200px;
    margin: 0px 20px 20px 20px;
    width: 90%;
    height: 80px;
}

.screen {
    width: 100%;
    margin: 10px 17px 10px 17px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

@font-face {
    font-family: "Calculator";
    src: url(font2/CursedTimerUlil-Aznm.ttf);
}

.screen p {
    color: white;
    font-size: 55px;
    font-family: "Calculator";
}


/* BUTTONS  */
/* BUTTONS  */
/* BUTTONS  */



.buttons {
    display: flex;
    margin: 17px 27px 20px 27px;
    height: 280px;
    flex-direction: column;
    color: black;
}

button p {
    color: black;
}

.buttons p {
    color: black;
}

.row1, .row2, .row3, .row4, .row5 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row1 button, .row2 button, .row3 button, .row4 button {
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 80px;
    height: 45px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.backspace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backspace i {
    color: black;
}

.multiply p {
    transform: translateY(8%);
    font-size: 24px;
    color: black;
}

.minus p {
    transform: translateY(-43%);
    border-bottom: 2px solid black;
    color: transparent;
}

/* ROW-5 */
/* ROW-5 */
/* ROW-5 */

.zero {
    width: 180px;
    height: 45px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
}

.zero p {
    color: black;
}

.dot p, .equal p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
}

.dot, .equal {
    width: 80px;
    height: 45px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
}


/* MY LOGO */
/* MY LOGO */
/* MY LOGO */


.mylogo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    margin-top: 30px;
}

.mylogo img {
    width: 150px;
}


/* BUTTON EFFECTS */
/* BUTTON EFFECTS */
/* BUTTON EFFECTS */



.operator:focus {
    border: 3px solid black;
}

.buttons button:active {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}










